#integracao2 {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.red {
    color: #f30;
}

.blue {
    color: #03f;
}

.white {
    background-color: #444;
    color: #fff
}
